@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: solid red 1px;
} */

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}
