@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
* {
  outline: solid red 1px;
} */

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.hero {
  background: url('../bg-hero.jpg');
  background-size: cover;
}

.canvas-carts {
  height: 300px;
}
.cart-bar {
  height: 250px;
}
